body {
    color: #49fd02;
    background:rgb(41, 34, 34) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 { 
    color: red;
}

p {
    max-width: 520px;
    line-height: 2;
}

a {
    color: silver;
}